@import url("navigmenu.css"); 
@import url("fonts.css"); 
@import url("footer.css"); 
 
/* Grid */
.container {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    height: 100vh;
    grid-template-areas:
        "nm nm nm"
        "hd hd hd"
        "main main main"
        "ft ft ft";
}
.navigmenu {
    grid-area: nm;
}
.header {
    grid-area: hd;
}
.content {
    grid-area: main;
}
.footer {
    grid-area: ft;
}
body {
    margin: 0px;
}
/* Header */
h1 {
    font: 40px "Plus Jakarta Sans", sans-serif;
    text-align: center;
    background: linear-gradient(to right, #f32170, #f2a126, #ea2eea, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h2 {
    font: 20px "Poppins", sans-serif;
    color: #1d293a;
    text-align: center;
}

/* Content */
.content {
    background: #f7f7f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    border: 1px solid lightgray;
    background: white;
    border-radius: 15px;
    padding: 5px;
    flex-basis: auto;
    width: auto;
    font: 18px "Lato", sans-serif;
    padding-right: 20px;
    box-sizing: border-box;
}
.author_name {
    font: italic 12px "Lato", sans-serif;
}
.content_img {
    width: 40%;
}
figure {
    margin-inline-start: 0px; 
    margin-inline-end: 0px;
    margin-right: 0px;
}
p {
    margin-block-start: 0px;
}

/*  Media Queries */
/* Small Screens*/
@media (max-width: 600px) {
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    h1 {
        font: 26px "Plus Jakarta Sans", sans-serif;
    }
    h2 {
        font: 16px "Poppins", sans-serif;
    }
    .box {
        font: 14px "Lato", sans-serif;
    }
    input[type="text"],
    input[type="submit"] {
        width: 30%;
    }
    .newsletter_label {
        display: none;
    }
    .navbarlogo {
        font: 20px 'Plus Jakarta Sans', sans-serif;
    }
}
/* Medium Screens */
@media (min-width: 601px) and (max-width: 900px) {
    ul {
        height: auto;
        display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        gap: 1%;
        color: darkgrey;
    }
    h1 {
        font: 30px "Plus Jakarta Sans", sans-serif;
    }
    h2 {
        font: 18px "Poppins", sans-serif;
    }
    .box {
        font: 14px "Lato", sans-serif;
    }
}
/* Large Screens */
@media (min-width: 901px) {
    .content_img {
        width: 50%;
    }
}
