@import url("navigmenu.css"); 
@import url("fonts.css"); 
@import url("footer.css");

/* Grid */
.container {
    font-size: 16px;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "nm nm nm"
        "ct ct ct"
        "ft ft ft"; 
}
.navigmenu {
    grid-area: nm;
}
.main_author {
    grid-area: ct;
}
.footer {
    grid-area: ft;
}

/* Header */
h1 {
    font: 30px "Plus Jakarta Sans", sans-serif;
    text-align: left;
    color: #f2a126;
    font-weight: 700;
}
h2,
h3 {
    font: 20px  "Poppins", sans-serif;
    color: #1d293a;
    text-align: center;
}
.post {
    text-align: left;
}
.main_author {
    display: flex;
    flex-direction: row; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    height: auto;
    background-color: #f7f7f8;
    padding: 50px 0px 50px 0px;
} 
.author_pic {
    text-align: center;
    margin-left: 50px;
} 
.autor_text{
    flex: 1; 
    text-align: left;
    margin-right: 50px;
}
figure {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
}
.author_pic img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    text-align: center;
}
.additional_content {
    font: 25px "Poppins", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0px 10px 0px;
    text-align: center;
}
body {
    margin: 0px;
}

/* Sharing  */
.social {
    text-align: left;
    margin: 30px 0px 30px 0px;
}
.social img {
    border-radius: 30px;
    width: auto;
    height: 40px;
}
.social a {
    margin: 8px;
    opacity: 0.7;
    transition: opacity 0.5s linear;
}
.social a:hover {
    opacity: 1;
}

/*     Media Queries */
/* Small Screens*/
@media (max-width: 600px) {
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    h1 {
        font: 20px "Plus Jakarta Sans", sans-serif;
        text-align: left;
        color: #f2a126;
        font-weight: 700;
    }
    h2 {
        font: 16px "Poppins", sans-serif;
    }
    .box2 {
        display: none;
    }
    input[type="text"],
    input[type="submit"] {
        width: 30%;
    }
    .newsletter_label {
        display: none;
    }
    .autor_text {
        margin: 0px 20px 0px 20px;
    }
    .social {
        text-align: center;
    }
    .author_pic {
        margin-left: 0px;
    }
    h1 {
        font: 20px "Plus Jakarta Sans", sans-serif;
        text-align: center;
        color: #f2a126;
        font-weight: 700;
    }
    .main_author {
        flex-direction: column;
        flex-wrap: nowrap;
    }
      .contact_form,.contact_text  {
        margin-left: 20px;
        margin-right: 20px;
    }
    figure {
    margin-right: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
 }
 .navbarlogo {
    font: 20px 'Plus Jakarta Sans', sans-serif;
}
}
/* Medium Screens */
@media (min-width: 601px) and (max-width: 900px) {
    ul {
        height: auto;
        display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        gap: 1%;
        color: darkgrey;
    }
    h1 {
        font: 30px "Plus Jakarta Sans", sans-serif;
        text-align: center;
            color: #f2a126;
            font-weight: 700;
    }
    h2 {
        font: 18px "Poppins", sans-serif;
    }
    .autor_text {
        margin: 0px 20px 0px 20px;
    }
    .social {
        text-align: left;
    }
    .author_pic {
        margin-left: 20px;
        flex: 1;
    }
    figure{
        margin-right: 0px;    
    }
    .main_author{
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

/* Large Screens */
@media (min-width: 901px) {
    .main_author {
        font-size: 18px;
    }
    .box {
        font-size: 18px;
    }
}

